<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75163106833-6a2adlgv40s0mdsk39lbv9ih3st0kh2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75163106833-6a2adlgv40s0mdsk39lbv9ih3st0kh2c</string>
	<key>API_KEY</key>
	<string>AIzaSyAbLEqJnsUjBjGDsSuOxqRy-ag-eEyhCI8</string>
	<key>GCM_SENDER_ID</key>
	<string>75163106833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juanfelipe82193.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-88b0b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-88b0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75163106833:ios:dec0e8fae263cf28623bb0</string>
</dict>
</plist>